<%- include('../views/partials/header') %>

<div class="container1">
  <h1>Functional Fitness</h1>
  <h3>Browse all kinds of exlucive workouts!</h3>
  
  <button type="button">Explore workouts!</button>
</div>