<%- include('../views/partials/header') %>

 <div class="content">
    <h1>Functional Fitness</h1>
    <p class="index-p">Browse all kinds of exlusive workouts!
      <br>Find one for you!</p>
      <div>
          <form action="/workouts">
            <input type="submit" value="See Workouts" id="buttonC"/>
          </form>
      </div>
  </div>

<%- include('../views/partials/footer') %>



