<%- include('../views/partials/header') %>

 <div class="content">
    <h1>Functional Fitness</h1>
    <p>Browse all kinds of exlusive workouts!
      <br>Only the Best!</p>
      <div>
          <form action="/workouts" class="buttonC">
            <input type="submit" value="See Workouts" />
          </form>
   
      </div>
  </div>





