* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 /* Nav styling  */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.70)),url(https://images.pexels.com/photos/949126/pexels-photo-949126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

/* Home Page Styling */

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  font-size: 20px;
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

/* Index Page Styling  */
#workouts-grid {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {      
  height: 230px;              
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  margin-top: 75px;
  transition: transform .2s;
}

.item:hover {
  transform: scale(1.2); 
}

#buttonC {
  width: 140px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0.5;
  transition: 0.5s;
}


#buttonC:hover {
  width: 170px;
  color: #009688;
}

#show-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#show-page img{
  margin-top: -100px;
  object-fit: contain;
}

a {
  color: white;
  text-align: center;
}

img {
  border-radius: 10px;
}

.explore {
  color: white;
  text-align: center;
  font-size: 40px;
}

/* Show Page Styling  */
#showing {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  color: white;
  text-align: center;
  font-size: 40px;
}

.about {
  color: white;
  font-size: 30px;
  margin-top: -75px;
  margin-bottom: 10px;
}

.plan {
  color: white;
  font-size: 30px;
  margin: 10px;
}

.plan2 {
 max-width: fit-content;
}

.diff {
  color: white;
  font-size: 30px;
  margin: 10px;
}

.diff2 {
text-transform: uppercase;
margin-bottom: -20px;
}


.comment-container {
  margin-bottom: 30px;
  max-width: 60vw;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#add-comment-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}

.comment-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
  margin: 10px;
}
td {
  margin: 10px;
}

#edit {
  margin: 10px;
}

#buttonD {
  width: 130px;
  padding: 5px 0;
  margin-left: 5px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0.5;
  transition: 0.5s;
  margin: 10px;
}


#buttonD:hover {
  color: #009688;
} 

#x {
  width: 50px;
  padding: 15px 0;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0.5;
  transition: 0.5s;
  margin: 15px;
}

#x:hover {
  color: red;
}

.comment-length {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/* Add Workout Page  */

#new-form {
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



